* {
    box-sizing: border-box;
    background-color: #352727;
}

.accordion {
    width: auto;
    overflow: hidden;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background: #e3e2e2;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 10px;
    background: #fff;
}

.active {
    display: block;
}
