*{
    background-color: #d6cdb9;
}
.accordion {
    background-color: rgba(0, 0, 0, 0.45);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom: 7px;
    border-radius: 10px;
}

.active, .accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 0 18px;
    background-color: #d6cdb9;
    display: none;
    overflow: hidden;
}